
#entry-animation {
    animation: redshift 2s, sliding 4s;
    animation-iteration-count: 1;
}

.enter {
    animation: appear 4s;
    animation-iteration-count: 1;
}

@keyframes redshift {
    0% {text-shadow: -5px -5px 10px #7700a6;}
}

@keyframes sliding {
    0% {
        transform: translateX(-10px) translateY(-10px) scale(0.9);
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
    }
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.home {
    width: 100%;
    align-items: center;
    font-family: "Helvetica", sans-serif;
    color: #29132e;
}

#nav{
    height: calc(100px);
}

.about {
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background: linear-gradient(#29132e, #321450);
    background-color: #29132e;*/
    background-image: url("../assets/homebg.png");
    color: #FFF;
}

.about h2 {
    font-family: "LeagueSpartan", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #FFF;
    height: 60px;
    text-shadow: 2px 4px 4px #618930;
}

.externalLinkButton {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.icon1 {color : white;}
.prompt {

    font-family: "LeagueSpartan", sans-serif;
    width: 40%;
    font-size: 20px;
    font-weight: lighter;


}

.about .prompt .mini-prompt{
    font-family: Arial, sans-serif;
    height: 40px;
    font-style: italic;
    font-size:  14px;
    transform: translateY(calc(0% + 10px) ) translateX(calc(100% - 100px));
}
.prompt svg {

    font-size: 20px;
    margin: 15px;
}

.skills {
    font-family: "LeagueSpartan", sans-serif;
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.skills h1 {
    transform: translateX(20px);
}

.skills .list {
    list-style: none;
    width: 60%;
}

.list span {
    font-size: 20px;
    color:#618930;
}

@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 40px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .skills {
        text-align: center;
    }
    .list {
        padding: 0;
    }

    .skills h2 {
        font-size: 30px;
    }
}
